@import url(https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display);

:root {
    --primary-color: #9E0031;
    --secondary-color: #ED9B40;
    --accent1-color: #61C9A8;
    --accent2-color: #FFEEDB;

    --heading-font: '_____', serif;
    --paragraph-font: '_____', serif;

    --nav-backgroung-color: #61C9A8;
    --nav-link-color: #F2AF29;
    --nav-hover-link-color: #BA3B46;
    --nav-hover-backgroung-color:#AA8F66;
}

.hero img {
    display: block;
    width: 100;
    height: auto;
}

div {
    position: relative;
}

h1 {
    position: absolute;
}

article {
    position: absolute;
}

article img {
    float: right;
}

