/* @import url(https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display);

:root {
    --primary-color: #9E0031;
    --secondary-color: #ED9B40;
    --accent1-color: #61C9A8;
    --accent2-color: #FFEEDB;

    --heading-font: '_____', serif;
    --paragraph-font: '_____', serif;

    --nav-backgroung-color: #61C9A8;
    --nav-link-color: #F2AF29;
    --nav-hover-link-color: #BA3B46;
    --nav-hover-backgroung-color:#AA8F66;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--Anton);
    color: var(--primary-color);
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

div {
    position: relative;
}

h1 {
    position: absolute;
    top: 20px;
    left: 30%;
    color: #F2AF29;
}

div p {
    color: red;
}

article {
    max-width: 840px;
}

article {
    position: absolute;
    top: 200px;
    left: 80%;
    width: 250px;
    height: auto;
    float: right;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }




  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }