/* @import url(https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display);

:root {
    --primary-color: #9E0031;
    --secondary-color: #ED9B40;
    --accent1-color: #61C9A8;
    --accent2-color: #FFEEDB;

    --heading-font: '_____', serif;
    --paragraph-font: '_____', serif;

    --nav-backgroung-color: #61C9A8;
    --nav-link-color: #F2AF29;
    --nav-hover-link-color: #BA3B46;
    --nav-hover-backgroung-color:#AA8F66;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--Anton);
    color: var(--primary-color);
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

div {
    position: relative;
}

h1 {
    position: absolute;
    top: 20px;
    left: 30%;
    color: #F2AF29;
}

div p {
    color: red;
}

article {
    max-width: 840px;
}

article {
    position: absolute;
    top: 200px;
    left: 80%;
    width: 250px;
    height: auto;
    float: right;
} */






 body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }




  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  } */


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
  }
  
  nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
  }
  
  .grid {
    display: grid;
    align-items: center;
  }
  
  main {
    grid-column: 2/3;
    margin: 1rem;
  }
  
  h1 {
    color: steelblue;
  }
  
  img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
  }
  
  p {
    padding: 0;
  }
  
  main img {
    width: 150px;
    height: auto;
    float: right;
  }
  
  aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
  }
  
  aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
  }
  
  aside img {
    width: 200px;
    height: auto;
  }
  
  footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
  }
  
  /* Class Selectors */
  .box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
  }